@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --main-color: #373737;
    --color-dark:#1b1b1b;
    --text-grey:#9ea7aa;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/*Sidebar*/
.sidebar{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu{
    margin-top: 1rem;
}

.sidebar-menu ul{   
    padding-left: 0px;
    margin-left: 0px;
}

.sidebar-menu li{
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.sidebar-menu a{
    display: block;
    color: #fff;
    font-size: 1.1rem;
    padding-left: 1rem;
}

.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0 0 30px;
    /*padding-left: 0;*/
}

.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar{
    width: 70px;            
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar .li a{
    padding-left: 0.5rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
}

#nav-toggle:checked ~ .main-content{
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header{
    width: calc(100% - 70px);
    left: 70px;
}

.main-content{
    margin-left: 345px;
    transition: margin-left 100ms;  /*pas balik ga bareng*/
}

header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}
            
#nav-toggle{
    display: none;
}

header h2{
    color: #222;
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}

main{
    margin-top: 80px;
    padding: 2rem 1.5rem;
    background: #f0f0f0;
    min-height: calc(100vh - 90px);
}

.card{
    margin-top: 1rem;
    border-radius: 5px;
}

.card-header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table{
    border-collapse: collapse;
}

thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
td{
    font-weight: 700;
}
.table th,
.table td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-responsive{
    width: 100%;
    overflow-x: auto;
}

@media only screen and (max-width: 1200px){
    .sidebar{
    width: 70px;
    }

    .sidebar .sidebar-brand,
    .sidebar .li a{
        padding-left: 0.5rem;
    }

    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child{
        display: none;
    }

    .main-content{
        margin-left: 100px;
    }

    .main-content header{
        width: calc(100% - 70px);
        left: 70px;
    }
}

@media only screen and (max-width:  960px){
    .card{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width:  768px){
    .row{
        text-align: center;
    }
}
